body {
    text-align: center;
    background-image: url("b2.jpg");
    background-size: cover;
    background-color: #cccccc;
    color:rgb(241, 239, 239);
}

a {
    color: pink;
}

#corner {
    position: fixed;
    bottom: 20px;
    right: 20px;
}


